body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}

.bgImage {
  height: 100vh;
  background-image: url("./frenchToast.jpg");
  background-size: cover;
  background-repeat: none;
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

